@import "./utilities/variables";
@import "./utilities/extends";
@import "./layout/generales/header";
@import "./layout/generales/footer";
@import "./layout/generales/fondo";
@import "./layout/inicio/_cuerpo-inicio";
@import "./layout/cuerpo-dtg/cuerpo-dtg";
@import "./layout/cuerpo-dtg/_grid-dtg";
@import "./layout/cuerpo-dtg/foto-info-dtg";






/*Estilos generales*/



    /*General*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Inline", sans-serif;
}

/* ===== Fondo ===== */
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
  z-index: -1; /* para que quede detrás del contenido */
}




/*HEADERNAVBAR*/

/* ===== Header ===== */
.header-contenedor-superior {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 99%;
  height: 100px;
  background-color: $colorNegro;
  color: $colorBlanco;
  position: fixed;
  top: 0; /* ✅ corregido */
  left: 0;
  margin-left: 8px;
  margin-right: 5px;
  z-index: 1000;
  border-radius: 20px;
}

.logo {
  width: 6rem;
  transition: all 2s ease;
}

ul {
  list-style: none;
  cursor: pointer;
  transition: all 2s ease;
}

.ul-navbar {
  display: flex;
  gap: 2em;
}

.ul-navbar li a {
  color: $colorBlanco;
  font-weight: 2rem;
  text-decoration: none;
  transition: all 2s ease;
}


.titulo {
  background-color: $colorNegro;
  font-size: 30px;
  text-align: center;
  margin-top: 7rem;
  color: $colorBlanco;
  transition: all 1s ease;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 12px;
}















/*CONTENEDOR PRINCIPAL*/






.boxmodel{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0.5rem;
    background-color: $colorNegro;
  color: $colorBlanco;
    display: flex;
    justify-content: center;
      text-align: center;
  transition: all 1s ease;
  border-radius: 20px;


}

.text-title{

 @extend %texto-items;
  margin-top: 1rem;
}
.card-container{
@extend %borde-inferior-cuadro;
@extend %borde-superior-cuadro;
justify-content: center;
width: 320px;
height: auto;
flex-shrink: 0;
margin: 1rem;
box-shadow: 0 4px 4px 0 #fc0909dc inset;

   font-weight: 1.2rem;
}
.tit2le{

 @extend %texto-items;
display: grid;
width: 320px;
height: auto;

justify-content: center;


flex-shrink: 0;
 font-weight: 6rem;

 @extend %borde-superior-cuadro;


 
  background-color: #6322227a;
  color: $colorBlanco;


 



}

.text-text{
  @extend %texto-items;
    font-size: 1.2rem;
    
    align-content: center;
  
}

.card2{
   

    @extend %texto-items;
      background-color: $colorNegro;
  box-shadow: inset 0px 65px 0px $colorNegro;
  border-color: $colorNegro;
   border-end-end-radius: 16px;
  border-end-start-radius: 16px;
   overflow: hidden;
     word-wrap: break-word;  /* rompe palabras largas */
  white-space: normal;    /* permite saltos de línea */
  
   
}
.img-dtg{
margin-top: 4rem;
width: 310px;
height: auto;




}

.btn{
 
  background-color: $colorBordo;
  box-shadow: inset 0px 65px 0px $colorrojo;
  color: $colorBordo;
  border-radius: 12px;

  margin-bottom: 1rem;
  font-weight: 2rem;

  transition: all 2s ease;
}





/*footer*/

.contenedor-inferior{
  background-color:$colorNegro;
  display: grid;
text-align: center;
 align-items: center;
display: flex;

 border-radius: 12px;
margin-left: 80px;
margin-right: 80px;

}

.redes-sociales {
display: flex;
 gap: 2rem;
  color: $colorBlanco;
  padding: 0.4rem;
  border-radius: 12px;
  margin: auto;



}

.ig {
   width: 1.5rem;
  
}

.wpp {
  width: 1.5rem;

}


/*segundo btox mtodegl*/



.card-container2{

width: auto;
height: auto;
flex-shrink: 0;
flex-shrink: 0;
background-color: $colorNegro;
box-shadow: 0 4px 4px 0 $colorNegro inset;
  @extend %borde-inferior-cuadro;
 @extend %borde-superior-cuadro;
  margin-left: 80px;
   margin-right: 80px;
   font-weight: 2rem;
   margin-bottom: 1rem;
}

.text-title2{
  padding: 1rem;
  background-color: $colorNegro;
  font-size: xx-large;
  text-align: center;
  color: $colorBlanco;
   @extend %borde-superior-cuadro;
  
}


.card4{

  margin-top: 1rem;
  
  display: flex;
  
  width: 800px;
  border-radius: 48px;
 
      background-color: #000000b2;

  border-color: $colorNegro;

   overflow: hidden;
     word-wrap: break-word;  /* rompe palabras largas */
  white-space: normal;    /* permite saltos de línea */
  gap:0.4rem;

  
}

.img-dtg2{
  margin-left: 0.2rem;
  margin-top: 4rem;
      width: 300px;
      height: 200px;
      border-radius: 24px;
     
   
    
}


.text-text2{
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  color: $colorBlanco;
  margin-top: 4rem;
   font-size: small;
  
}

.btn-caja{
    margin-top: 1rem;
    text-align: center;
   
}
.btn2{
margin-bottom: 1rem;
 background-color: $colorNegro;
  box-shadow: inset 0px 65px 0px $colorNegro;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 1rem;
  color: $colorBlanco;

  text-decoration: none;
  transition: all 2s ease;
}



/*GRID*/

.precios{
  margin-top: 1rem;
  background-color: $colorBordo;
  @extend %borde-inferior-cuadro;
@extend %borde-superior-cuadro;
}
.text-precios{
color: $colorBlanco;
  text-align: center;

  font-size: xx-large;
}
.header-grid, .body-grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: $colorNegro;
  text-align: center;
  border-radius: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  gap: 10px;
   width: 700px; /* ajustá según lo que necesites */
   height: auto;
  max-width: 100%; /* para que no se salga del contenedor */
}

.header-grid div {
  font-weight: bold;
  color: $colorBlanco;
}

.body-grid div {
  background-color: #720e0ee0;
  padding: 10px;
  border-radius: 5px;
  color: $colorBlanco;
}


.contenedor-info-grilla{

  padding: 2rem;
  display:flex;
  gap: 2rem;

}