//Extends

%texto-items {
        align-items: center;
        text-align: center;


    }

    %borde-inferior-cuadro{

   border-end-end-radius: 16px;
  border-end-start-radius: 16px;


}
%borde-superior-cuadro{

   border-start-end-radius: 16px;
  border-start-start-radius: 16px;
}
